@import url("./fonts.css");

.centerStaticDiv{
    inset: 0px;
    width: 40rem;
    max-width: 100vw;
    max-height: 100vh;
    margin: auto;
}

#FilePhoto{ 
    width: 70%;
    display: block;
    margin: auto;
}

body {
    background-image: url("./Assets/BioHeader.png"); /* Replace with your image path */
    background-repeat: repeat-x;
}

.bioText{
    font-family: AnkaCoderBold;
    font-size: 1.1rem;
    margin: 0 2rem 0 2rem;
} 