
/*The navigation buttons*/
.go-home-button{
    font-size: clamp(1.5rem,1.5rem, 2rem);
    line-height: 0.5;
    padding-left: 2rem;
    padding-right: 2rem;
}

a:link {
    font-family: AnkaCoderBold;
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    display:inline-block;
    transform: scale(1.7);
    font-family: ZTOtez;
    background-color: black;
    color: white;
    margin: 0;
    text-align: center;
    padding: 0 1rem 0 1rem;
}