@font-face {
    font-family: "AnkaCoder";
    src: url("Fonts/AnkaCoder-r.ttf");
}

@font-face {
    font-family: "AnkaCoderBold";
    src: url("Fonts/AnkaCoder-b.ttf");
}

@font-face {
    font-family: "JamesStroker";
    src: url("Fonts/JamesStroker.ttf");
}

@font-face {
    font-family: "ZTOtez";
    src: url("Fonts/ZTOtez-Regular.ttf");
}