@import url("./fonts.css");

.homeParagraph{
    font-family: AnkaCoderBold;
    font-size: 1.3rem;
}

.homeButton{
    font-family: AnkaCoderBold;
    font-size: clamp(1.5rem,1.5rem, 2rem);
    line-height: 0.5;
}

.homeTitle{
    text-align: center; 
    font-family: JamesStroker;
    font-size: clamp(10rem,10rem, 15rem);
    color:#df9212;
    text-shadow: 0px -0.3rem black, 0px 0.4rem black, 0px 0.5rem black, 0px 0.6rem black;
    margin-top: 0em;
    margin-bottom: 0em;
}

.homeColorOverlay{
    position: fixed;
    inset: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(75, 161, 214, 0.93) ;
    margin: auto;
}

#homeVowel{
    color: #116d1e;
}

#homeVideo {
    position: fixed;
    inset: 0px;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.centerStaticDiv{
    position: fixed;
    inset: 0px;
    width: fit-content;
    height: fit-content;
    max-width: 100vw;
    max-height: 100dvh;
    margin: auto;
}