@import url("./fonts.css");

/*The meat, centering a div*/
.center-static-div{
    position: fixed;
    inset: 0px;
    width: fit-content;
    height: fit-content;
    max-width: 100vw;
    max-height: 100dvh;
    margin: auto;
}

/*TITLE*/
/*Title container*/
.home-greeting{
    position: fixed;
}

.home-paragraph{
    font-family: AnkaCoderBold;
    font-size: 1.3rem;
    margin: 1rem 1rem 3rem 1rem;
}

.home-title{
    text-align: center; 
    font-family: JamesStroker;
    font-size: clamp(10rem,10rem, 15rem);
    color:#df9212;
    text-shadow: 0px -0.3rem black, 0px 0.4rem black, 0px 0.5rem black, 0px 0.6rem black;
    margin-top: 0em;
    margin-bottom: 0em;
    line-height: 80%;
}

#home-vowel{
    color: #116d1e;
}


/*The navigation buttons*/
.home-button{
    font-size: clamp(1.5rem,1.5rem, 2rem);
    line-height: 0.5;
    padding-left: 2rem;
    padding-right: 2rem;
}

a:link {
    font-family: AnkaCoderBold;
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    display:inline-block;
    transform: scale(1.7);
    font-family: ZTOtez;
    background-color: black;
    color: white;
    margin: 0;
    text-align: center;
    padding: 0 1rem 0 1rem;
}


/*Background stuff*/
.home-color-overlay{
    position: fixed;
    inset: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(75, 161, 214, 0.93) ;
    margin: auto;
}

/*The video*/
#home-video {
    position: fixed;
    inset: 0px;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
