@import url("./fonts.css");

#title{
    letter-spacing: 0.3rem;
    font-size: 7rem;
    font-family: ZTOtez;
    color: #fd8333;
    text-align: center;
    margin-bottom: 0;
}

/*Container*/
.portfolio-body{
    display: flex;
    flex-direction: column;

    margin-right: 10rem;
    margin-left: 10rem;

    justify-content: center; 
    align-items: center;    
}

/*Item container*/
.portfolio-item{
    display: flex;
    flex-direction: row;
    color: white;
    background-color: black;
    margin-bottom: 2rem; 
    font-family: Ubuntu;
}

/*Image container*/
.portfolio-item-image{
    margin: 1rem;
    max-width: 50%;
    max-height: 100%;

    /*centering the image*/
    display: flex;
    justify-content: center; 
    align-items: center;   
    
    flex: 1 1 auto;
}
.item-image{
    object-fit: scale-down;
    height: 100%;
    width: 100%;
    align-content: center;
    margin: auto;
}

/*Text container*/
.portfolio-item-text{
    font-size: 1.3rem;
    margin: 1rem;

    flex: 1 1 auto;

    width: 50%;
}

/*When You get to a specific screen size*/
@media (max-width: 720px){
    .portfolio-item{
        flex-wrap: wrap;
    }

    .portfolio-body{
        margin-right: 1rem;
        margin-left: 1rem;   
    }

    .portfolio-item-image{
        max-width: 100%;
    }
}