@import url("./fonts.css");

.Content{
    font-size: 1.3rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

@media (min-width: 720px){
    .Content{
        font-size: 1.3rem;
        margin-right: 20vw;
        margin-left: 20vw;
    }
}

p{
    margin-top: 0%;
    margin-bottom: 0%;
}